body{
    background-color: darksalmon;
}
#purchase-btn{
    background-color: gold;
}
#purchase-btn:hover{
    cursor: pointer;
}
#home-link{
    font-size:xx-large;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#menu-link{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
#filmMenuBtn{
    background-color:rgb(192, 140, 168);
}